* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.App{
  padding:5rem;
}


.box-container{
  padding-bottom:25rem;
}
.box{
  width:15rem;
  height:15rem;
  background-color:aquamarine;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}

.boxItem{
  width:0.5rem;
  height:0.5rem;
  background-color: white;
  padding:2rem;
  list-style-type: style none;
  margin: 0.5em;

}
